ENVTYPE=azure # openai or azure
OPENAI_API_KEY=
LLM_MODEL=gpt-4.1
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://{foundry-project_name}}-resource.openai.azure.com/openai/v1
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1
AZURE_CREDENTIAL=key # key or default
DATA_DIR=Data
CHROMA_DB_DIR=Chroma_DB
EMBEDDING_MODEL=all-MiniLM-L6-v2
DEBUG=False
TOP_K=4
TEMPERATURE=0
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
TEXT_EMBEDDING_MODEL=text-embedding-ada-002
