LLM_PROVIDER=azure # openai or azure
OPENAI_API_KEY=sk-proj-XJcA
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://{foundry-project_name}-resource.openai.azure.com/openai/v1
AZURE_RESOURCE_ENDPOINT=https://{foundry-project_name}-resource.services.ai.azure.com
AZURE_CREDENTIAL=key # key or default
LLM_MODEL=gpt-5.1
TEXT_EMBEDDING_MODEL=text-embedding-3-small
DATA_DIR=Data
CHROMA_DB_DIR=Chroma_DB
DEBUG=False
TOP_K=4
TEMPERATURE=0
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
